{% extends 'inventory/base.html' %}

{% block navbar %}
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'index' %}">Home</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'handshape_list' %}">Handshapes</a>
				</li>
				<li class="nav-item">
					<a class="nav-item nav-link" href="#" class="disabled">Lexicon (developing)</a>
				</li>
			</ul>
{% endblock %}

{% block content %}

			<a href="{% url 'handshape_list' %}" class="mb-5"><i class="fas fa-arrow-left"></i> Back to inventory</a>
			<!-- Edit + Delete Buttons -->
						{% if user.is_authenticated %}
						&emsp;
						<a href="{% url 'handshape_edit' pk=handshape.pk %}" class="btn btn-sm btn-info"><i class="fas fa-edit"></i> Edit</a>
						<a href="#" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete-modal"><i class="fas fa-trash-alt"></i> Delete</a>
						<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="delete-modal">
											Delete "{{ handshape.name }}" from inventory
										</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										Are you sure you want to delete this handshape?
									</div>
										<div class="modal-footer">
										<a href="{% url 'handshape_delete' pk=handshape.pk %}"><button type="button" class="btn btn-danger">Delete</button></a>
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										</div>
								</div>
							</div>
						</div>
						{% endif %}
			<br>
			<div class="detail">
				<div class="detail-1">
					<div class="card text-center">
						<h5 class="card-header">{{handshape.name}}</h5>
						<!-- Animation Box -->
						<div class="card-body" style="padding:0px !important;">
							<div class="CWASAAvatar av0" align="center" style="background-color: aliceblue;">
							</div>
						</div>
						<!-- Description -->
						<div class="card-footer bg-transparent">
							<span style="font-size: 0.8rem;">{{handshape.description}}</span>
							<!-- Buttons -->
							<div style="display: flex; align-items: center; justify-content: center; padding: 10px;">
									<button type="button" class="btn btn-sm btn-info bttnPlaySiGMLText av0" style="flex: 1;"><i class="fas fa-hand-sparkles"></i> Animate</button>&emsp;
									<div class="CWASAAvMenu av0 text-capitalize" style="flex:2;"></div>
								</div>
						</div>
					</div>
				</div>
				<div class="detail-2">
						<!-- Nav Items -->
						<ul class="nav nav-pills" id="pills-tab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="pills-ham-tab" data-toggle="pill" href="#pills-ham" role="tab" aria-controls="pills-ham" aria-selected="true">HamNoSys</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-sigml-tab" data-toggle="pill" href="#pills-sigml" role="tab" aria-controls="pills-sigml" aria-selected="false">SiGML</a>
							</li>
						</ul>
						<!-- Repeat Details -->
						<div class="ham-details" style="padding: 20px 0 0 10px !important;">
							<h4>{{handshape.name}}</h4>
							<p>{{handshape.description}}</p>
						</div>
						<div class="tab-content" id="pills-tabContent">
							<!-- HamNoSys -->
							<div class="tab-pane fade show active" id="pills-ham" role="tabpanel" aria-labelledby="pills-ham-tab">
								<h1 class="ham" style="background-color: aliceblue;padding: 20px;border-style: solid !important;line-height: 40px;border-width: thin;border-color: gray;"><span class="ham-base">{{handshape.transcription}}</span></h1>
								<hr>
								<p>The textbox above contains the HamNoSys transcription of the current handshape. The base form is in <span style="color:navy;">navy</span> while any finger specification is in <span style="color:grey;">grey</span>.</p>
							</div>
							<!-- SiGML -->
							<div class="tab-pane fade" id="pills-sigml" role="tabpanel" aria-labelledby="pills-sigml-tab">
								<textarea id="sigml" rows="10" class="txtaSiGMLText av0">{{ sigml }}</textarea>
								<hr>
								<p>The textbox above contains the SiGML of the current handshape. It is editable, so whatever content it has will be animated by the signing avatar when the Animate button is pressed.</p>
							</div>
						</div>
				</div>

			</div>

{% endblock %}