{% extends 'inventory/base.html' %}

{% block navbar %}
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'index' %}">Home</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'handshape_list' %}">Handshapes</a>
				</li>
				<li class="nav-item">
					<a class="nav-item nav-link" href="#" class="disabled">Lexicon (developing)</a>
				</li>
			</ul>
{% endblock %}


{% block content %}

			<p class="font-italic text-right">A list of recognizable handshapes in the Filipino Sign Language.</p>
			
			{% if user.is_authenticated %}
			<a href="{% url 'handshape_new' %}"><button type="button" class="btn btn-sm btn-success">Click here to add a new handshape.</button></a>
			<hr>
			{% endif %}

			<div class="card-columns">
				{% for handshape in handshapes %}
				<div class="card">
					<h6 class="card-header">{{ handshape.name }}</h6>
					<div class="card-body">
						<h1 class="card-title ham"><span class="ham-base">{{ handshape.base }}</span><span class="ham-fingerspecs">{{ handshape.fingerspecs }}</span></h1>
						<p class="card-text">{{ handshape.description}}</p>
					</div>
					<div class="card-footer bg-transparent ">
						<a href="{% url 'handshape_detail' pk=handshape.pk %}">View details</a>
						{% if user.is_authenticated %} 
						<!-- Danger Zone -->
						&emsp;<a href="{% url 'handshape_edit' pk=handshape.pk %}" class="text-info">Edit</a>&nbsp;&nbsp;<a href="#" data-toggle="modal" data-target="#delete-modal" class="text-danger">Delete</a>
						<!-- Confirm Delete Modal -->
						<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="delete-modal">
											Delete "{{ handshape.name }}" from inventory
										</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										Are you sure you want to delete this handshape?
									</div>
									<div class="modal-footer">
										<a href="{% url 'handshape_delete' pk=handshape.pk %}"><button type="button" class="btn btn-danger">Delete</button></a>
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
				{% endfor %}
			</div>

{% endblock %}