{% extends 'inventory/avatargui.html' %}


{% block info %}
					<form method="POST" id="handconfig" style="font-size: 0.7rem;">
						{% csrf_token %}
						<!-- Name -->
						<div class="form-row" style="height:60px; margin: 5px;">
							<div class="col-3">
								<input type="text" name="handshapeName" class="form-control" placeholder="Handshape Name" style="font-size: 0.7rem;" value="{{ handshape.name }}">
							</div>
							<div class="col-sm-5">
								<input type="text" name="handshapeDescription" class="form-control" placeholder="Description" style="font-size: 0.7rem;" value="{{ handshape.description }}">
							</div>
							<div class="col-sm-auto">
								<button type="submit" class="btn btn-primary btn-sm" value="save">Save</button>
							</div>
							<div class="col-sm-auto">
								<a href="#" data-toggle="modal" data-target="#delete-modal" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
								<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="delete-modal">
													Delete "{{ handshape.name }}" from inventory
												</h5>
												<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">
												Are you sure you want to delete this handshape?
											</div>
											<div class="modal-footer">
												<a href="{% url 'handshape_delete' pk=handshape.pk %}"><button type="button" class="btn btn-danger">Delete</button></a>
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="container-fluid" style="width: 100%;overflow-y: scroll; overflow-x: hidden;">
							<div class="row justify-content-center" style="padding: 0px 10px;">
								<!-- Hand Shape -->
								<div class="col border form-content" style="text-align: center;">
									Choose a base shape to modify.
									<div class="row" style="margin:0px;padding: 10px;">
										<div class="col" style="text-align: center;padding: 0px;">
											<img src="https://imgur.com/ymJT7p1.png" alt="" width="70px"><br>
											<div class="custom-control custom-radio custom-control-inline">
												<input type="radio" id="fist" name="selectedHandshape" class="custom-control-input" value="fist" onclick="updatesign();" {% if handshape.handshape == "fist" %} checked="true" {% endif %}>
												<label class="custom-control-label" for="fist">Fist/Flat</label>
											</div>
										</div>
										<!-- Spread -->
										<div class="col" style="text-align: center;padding: 0px;">
											<img src="https://imgur.com/KioSOMV.png" alt="" width="70px"><br>
											<div class="custom-control custom-radio custom-control-inline">
												<input type="radio" id="finger2345" name="selectedHandshape" class="custom-control-input" value="finger2345" onclick="updatesign();" {% if handshape.handshape == "finger2345" %} checked="true" {% endif %}>
												<label class="custom-control-label" for="finger2345">Spread</label>
											</div>
										</div>
										<!-- Pinch -->
										<div class="col" style="text-align: center;padding: 0px;">
											<img src="https://imgur.com/Tqkneck.png" alt="" width="70px"><br>
											<div class="custom-control custom-radio custom-control-inline">
												<input type="radio" id="pinch12open" name="selectedHandshape" class="custom-control-input" value="pinch12open" onclick="updatesign();" {% if handshape.handshape == "pinch12open" %} checked="true" {% endif %}>
												<label class="custom-control-label" for="pinch12open">Pinch</label>
											</div>
										</div>
										<!-- Cee -->
										<div class="col" style="text-align: center;padding: 0px;">
											<img src="https://imgur.com/XWXJ29M.png" alt="" width="70px"><br>
											<div class="custom-control custom-radio custom-control-inline">
												<input type="radio" id="cee12open" name="selectedHandshape" class="custom-control-input" value="cee12open" onclick="updatesign();" {% if handshape.handshape == "cee12open" %} checked="true" {% endif %}>
												<label class="custom-control-label" for="cee12open">Cee</label>
											</div>
										</div>
									</div>
								</div>
								<!-- Thumb Position -->
								<div class="col border form-content" style="text-align: center;">
									Choose a default thumb position.
									<div class="row" style="margin: 0px;padding: 10px;">
										<div class="col" style="text-align: center;padding: 0;">
											<img src="https://imgur.com/odvw2hi.png" alt="" width="70px"><br>
											<div class="custom-control custom-radio custom-control-inline">
												<input type="radio" id="defaultthumb" name="thumbpos" class="custom-control-input" value="None" onclick="updatesign();" {% if handshape.thumbpos == "None" %} checked="true" {% endif %}>
												<label class="custom-control-label" for="defaultthumb">Default</label>
											</div>
										</div>
										<div class="col" style="text-align: center; padding: 0;">
											<img src="https://imgur.com/NlB4dzP.png" alt="" width="70px"><br>
											<div class="custom-control custom-radio custom-control-inline">
												<input type="radio" id="out" name="thumbpos" class="custom-control-input" value="out" onclick="updatesign();" {% if handshape.thumbpos == "out" %} checked="true" {% endif %}>
												<label class="custom-control-label" for="out">Out</label>
											</div>
										</div>
										<div class="col" style="text-align: center; padding: 0;">
											<img src="https://imgur.com/4P9vbBu.png" alt="" width="70px"><br>
											<div class="custom-control custom-radio custom-control-inline">
												<input type="radio" id="across" name="thumbpos" class="custom-control-input" value="across" onclick="updatesign();" {% if handshape.thumbpos == "across" %} checked="true" {% endif %}>
												<label class="custom-control-label" for="across">Across</label>
											</div>
										</div>
										<div class="col" style="text-align: center; padding: 0;">
											<img src="https://imgur.com/Z3bchBG.png" alt="" width="70px"><br>
											<div class="custom-control custom-radio custom-control-inline">
												<input type="radio" id="opposed" name="thumbpos" class="custom-control-input" value="opposed" onclick="updatesign();" {% if handshape.thumbpos == "opposed" %} checked="true" {% endif %}>
												<label class="custom-control-label" for="opposed">Opposed</label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row justify-content-center" style="padding:0px 10px;">
								<!-- Finger Specifications -->
								<div class="col-sm-auto border form-content" style="text-align: center;">
									Select involved fingers<br>
									for chosen base form.
									<div class="row" style="padding: 10px">
										<div class="col" style="text-align: center;">
											<img src="https://imgur.com/u1aTrZN.png" alt="fingers" width="150px">
										</div>
	  								</div>
	  								<div class="row" style="padding-bottom: 10px;">
	  									<div class="col" style="padding-left: 20%;text-align:left;">
	  										<div>
	  											<input name="specialfingers" type="text" hidden="true">
	  										</div>
											<div class="custom-control custom-checkbox">
												<input name="defaultFingers" type="checkbox" class="custom-control-input" id="index" onclick="updatesign();" {% if "2" in handshape.specialfingers %} checked="true" {% endif %}>
		  										<label class="custom-control-label" for="index">1 - Index</label>
		  									</div>
		  									<div class="custom-control custom-checkbox">
		  										<input name="defaultFingers" type="checkbox" class="custom-control-input" id="middle" onclick="updatesign();" {% if "3" in handshape.specialfingers %} checked="true" {% endif %}>
		  										<label class="custom-control-label" for="middle">2 - Middle</label>
		  									</div>
		  									<div class="custom-control custom-checkbox">
		  										<input name="defaultFingers" type="checkbox" class="custom-control-input" id="ring" onclick="updatesign();" {% if "4" in handshape.specialfingers %} checked="true" {% endif %}>
		  										<label class="custom-control-label" for="ring">3 - Ring</label>
		  									</div>
		  									<div class="custom-control custom-checkbox">
		  										<input name="defaultFingers" type="checkbox" class="custom-control-input" id="pinky" onclick="updatesign();" {% if "5" in handshape.specialfingers %} checked="true" {% endif %}>
		  										<label class="custom-control-label" for="pinky">4 - Pinky</label>
		  									</div>
	  									</div>
	  								</div>
								</div>
								<!-- Main Bending -->
								<div class="col-sm-auto border form-content" style="text-align: center;">
									Select bending<br>
									for involved fingers.
									<div class="row" style="padding: 10px">
										<div class="col" style="text-align: center;">
											<img src="https://imgur.com/6wjntUG.png" alt="fingers" width="150px">
										</div>
	  								</div>
	  								<div class="row" style="padding-bottom: 10px;">
	  									<div class="col" style="padding-left: 20%;text-align:left;">
											<div class="custom-control custom-radio">
												<input name="mainbend" type="radio" class="custom-control-input" id="default" value="None" onclick="updatesign();" {% if handshape.mainbend == "None" %} checked="true" {% endif %}>
		  										<label class="custom-control-label" for="default">1 - Normal</label>
		  									</div>
		  									<div class="custom-control custom-radio">
		  										<input name="mainbend" type="radio" class="custom-control-input" id="rounded" value="round" onclick="updatesign();" {% if handshape.mainbend == "round" %} checked="true" {% endif %}>
		  										<label class="custom-control-label" for="rounded">2 - Round</label>
		  									</div>
		  									<div class="custom-control custom-radio">
		  										<input name="mainbend" type="radio" class="custom-control-input" id="hooked" value="hooked" onclick="updatesign();" {% if handshape.mainbend == "hooked" %} checked="true" {% endif %}>
		  										<label class="custom-control-label" for="hooked">3 - Hooked</label>
		  									</div>
		  									<div class="custom-control custom-radio">
		  										<input name="mainbend" type="radio" class="custom-control-input" id="bent" value="bent" onclick="updatesign();" {% if handshape.mainbend == "bent" %} checked="true" {% endif %}>
		  										<label class="custom-control-label" for="bent">4 - Bent</label>
		  									</div>
	  									</div>
	  								</div>
								</div>
								<!-- Individual Bending -->
								<div class="col-lg border form-content" style="text-align: center;">
									<div class="row" style="padding-left: 20px;">
										<div class="col" style="text-align: center;">
											Override default bending for individual fingers.<br>
											<img src="https://imgur.com/Q1YTlKG.png" height="125px" width="250px">
										</div>
									</div>
									<div class="row" style="padding-left: 20px; font-size: 0.7rem;">
										<strong>Thumb - <a href="#" onclick="resetBend('1');">Reset</a></strong>
										&nbsp;1 <input name="bend1_1" value="{{ handshape.bend1_1 }}" type="number" step=".01" style="font-size:0.5rem;width:2.2rem;margin-left:2px;" onchange="updatesign();">
										&nbsp;2 <input name="bend1_2" value="{{ handshape.bend1_2 }}" type="number" step=".01" style="font-size:0.5rem;width:2.2rem;margin-left:2px;" onchange="updatesign();">
										&nbsp;3 <input name="bend1_3" value="{{ handshape.bend1_3 }}" type="number" step=".01" style="font-size:0.5rem;width:2.2rem;margin-left:2px;" onchange="updatesign();">
										&nbsp;4 <input name="bend1_4" value="{{ handshape.bend1_4 }}" type="number" step=".01" style="font-size:0.5rem;width:2.2rem;margin-left:2px;" onchange="updatesign();">
										&nbsp;5 <input name="bend1_5" value="{{ handshape.bend1_5 }}" type="number" step=".01" style="font-size:0.5rem;width:2.2rem;margin-left:2px;" onchange="updatesign();">
									</div>
									<div class="row justify-content-center" style="padding-top: 10px;">
										<div class="col-sm-5">
											<img src="https://imgur.com/BjaMBum.png" alt="fingers" width="200px">
										</div>
										<div class="col-sm" id="specificbend_options" style="padding-left: 10%;">
											<div class="row" style="font-size:0.7rem;">
												<strong>Index - <a href="#" onclick="resetBend('2');">Reset</a></strong>
											</div>
											<div class="row mb-1" style="font-size:0.7rem;">
												1 <input name="bend2_1" value="{{ handshape.bend2_1 }}" type="number" step=".01" style="font-size:0.5rem;width:2.2rem;margin-left:2px;" onchange="updatesign();" onclick="resetBend('3');">
												&nbsp;2 <input name="bend2_2" value="{{ handshape.bend2_2 }}" type="number" step=".01" style="font-size:0.5rem;width:2.2rem;margin-left:2px;" onchange="updatesign();">
												&nbsp;3 <input name="bend2_3" value="{{ handshape.bend2_3 }}" type="number" step=".01" style="font-size:0.5rem;width:2.2rem;margin-left:2px;" onchange="updatesign();">
												&nbsp;4 <input name="bend2_4" value="{{ handshape.bend2_4 }}" type="number" step=".01" style="font-size:0.5rem;width:2.2rem;margin-left:2px;" onchange="updatesign();">
											</div>
											<div class="row" style="font-size:0.7rem;">
												<strong>Middle - <a href="#" onclick="resetBend('3');">Reset</a></strong>
											</div>
											<div class="row mb-1" style="font-size:0.7rem;">
												1 <input name="bend3_1" value="{{ handshape.bend3_1 }}" type="number" step=".01" style="font-size:0.5rem;width:2.2rem;margin-left:2px;" onchange="updatesign();">
												&nbsp;2 <input name="bend3_2" value="{{ handshape.bend3_2 }}" type="number" step=".01" style="font-size:0.5rem;width:2.2rem;margin-left:2px;" onchange="updatesign();">
												&nbsp;3 <input name="bend3_3" value="{{ handshape.bend3_3 }}" type="number" step=".01" style="font-size:0.5rem;width:2.2rem;margin-left:2px;" onchange="updatesign();">
												&nbsp;4 <input name="bend3_4" value="{{ handshape.bend3_4 }}" type="number" step=".01" style="font-size:0.5rem;width:2.2rem;margin-left:2px;" onchange="updatesign();">
											</div>
											<div class="row" style="font-size:0.7rem;">
												<strong>Ring - <a href="#" onclick="resetBend('4');">Reset</a></strong>
											</div>
											<div class="row mb-1" style="font-size:0.7rem;">
												1 <input name="bend4_1" value="{{ handshape.bend4_1 }}" type="number" step=".01" style="font-size:0.5rem;width:2.2rem;margin-left:2px;" onchange="updatesign();">
												&nbsp;2 <input name="bend4_2" value="{{ handshape.bend4_2 }}" type="number" step=".01" style="font-size:0.5rem;width:2.2rem;margin-left:2px;" onchange="updatesign();">
												&nbsp;3 <input name="bend4_3" value="{{ handshape.bend4_3 }}" type="number" step=".01" style="font-size:0.5rem;width:2.2rem;margin-left:2px;" onchange="updatesign();">
												&nbsp;4 <input name="bend4_4" value="{{ handshape.bend4_4 }}" type="number" step=".01" style="font-size:0.5rem;width:2.2rem;margin-left:2px;" onchange="updatesign();">
											</div>
											<div class="row" style="font-size:0.7rem;">
												<strong>Finger - <a href="#" onclick="resetBend('5');">Reset</a></strong>
											</div>
											<div class="row mb-1" style="font-size:0.7rem;">
												1 <input name="bend5_1" value="{{ handshape.bend5_1 }}" type="number" step=".01" style="font-size:0.5rem;width:2.2rem;margin-left:2px;" onchange="updatesign();">
												&nbsp;2 <input name="bend5_2" value="{{ handshape.bend5_2 }}" type="number" step=".01" style="font-size:0.5rem;width:2.2rem;margin-left:2px;" onchange="updatesign();">
												&nbsp;3 <input name="bend5_3" value="{{ handshape.bend5_3 }}" type="number" step=".01" style="font-size:0.5rem;width:2.2rem;margin-left:2px;" onchange="updatesign();">
												&nbsp;4 <input name="bend5_4" value="{{ handshape.bend5_4 }}" type="number" step=".01" style="font-size:0.5rem;width:2.2rem;margin-left:2px;" onchange="updatesign();">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
{% endblock %}