{% extends 'inventory/base.html' %}

{% block navbar %}
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'index' %}">Home</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'handshape_list' %}">Handshapes</a>
				</li>
				<li class="nav-item">
					<a class="nav-item nav-link" href="#" class="disabled">Lexicon (developing)</a>
				</li>
			</ul>
{% endblock %}


{% block content %}

			<p class="font-italic" style="text-align: right;">
				Editing handshape named "{{ handshape.name }}"
			</p>

			<hr>
			<!-- General Info -->
			<form method="POST" style="margin-bottom: 0px;">
				{% csrf_token %}
				<!-- Name -->
				<div class="form-group">
					<label for="hs_name"><kbd>Handshape Name</kbd></label>
					<input name="hs_name" type="text" class="form-control" id="hs_name" placeholder="Enter handshape name." value="{{ handshape.name }}">
				</div>
				<!-- Description -->
				<div class="form-group">
					<label for="hs_description"><kbd>Handshape Description</kbd></label>
					<input name="hs_description" type="text" class="form-control" id="hs_description" placeholder="Enter handshape description." value="{{ handshape.description }}">
				</div>
				<hr>
				<!-- Transcription -->
				<label for="hs_transcription"><kbd>HamNoSys Transcription</kbd> <span style="font-size: 0.6rem;">HamNoSys symbols will appear here when their respective buttons are pressed in the collapsible keyboard.</span></label>
				<div class="form-group form-inline mb-2">
					<div class="input-group mb-3 col-md-10">
						<input name="hs_transcription" id="hs_transcription" type="text" class="form-control ham" aria-label="HamNoSys Transcription" aria-describedby="basic-addon2" value="{{ handshape.transcription }}">
						<div class="input-group-append">
							<button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseKeyboard" aria-expanded="false" aria-controls="collapseKeyboard"><i class="fas fa-keyboard"></i></button>
  						</div>
					</div>
					<div class="mb-3 col-md-2">
						<button name="save" class="btn btn-primary" type="submit"><i class="fas fa-check"></i> Save handshape</button>
					</div>
				</div>
			</form>



			<!-- HamNoSys Input -->
			<div class="collapse" id="collapseKeyboard" style="margin:15px;">

				<!-- Nav Content -->
				<div class="tab-content border border-dark" id="v-pills-tabContent" style="margin:0px;padding:10px;background-color: aliceblue; font-size: 0.7rem;">

					<!-- Basic Form -->
					<div class="tab-pane fade show active" id="v-pills-basicform" role="tabpanel" aria-labelledby="v-pills-basicform-tab">

						<div class="alert alert-info" role="alert">
							Basic forms are combined with diacritic signs for thumb position and bending. <a href="https://www.sign-lang.uni-hamburg.de/projekte/hamnosys/hns4.0/hns4.0eng/404handshapes.html" target="#"><i class="fas fa-info-circle"></i></a>
						</div>
						
						<div style="position: relative;height: 300px;overflow: auto;">
							<table style="undefined;table-layout: fixed; width: 100%; text-align: left;">
								<colgroup>
									<col style="width: 72px;">
									<col style="width: 300px;">
								</colgroup>
								<tbody>				
									<!-- 1. BASIC FORMS -->
									<tr>
										<td colspan="2" style="padding-bottom: 10px; text-align: center;">
											<strong>Basic Forms</strong>
										</td>
									</tr>
									<!-- hamfist -->
									<tr>
										<td style="text-align: center;">
											<button title="hamfist" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);"></button>
										</td>
										<td>Shaped like a fist.</td>
									</tr>
									<!-- hamflathand -->
									<tr>
										<td style="text-align: center;">
											<button title="hamflathand" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);"></button>
										</td>
										<td>A flat hand, fingers together.</td>
									</tr>
									<!-- hamfinger2 -->
									<tr>
										<td style="text-align: center;">
											<button title="hamfinger2" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);"></button>
										</td>
										<td>One finger is raised (index by default)</td>
									</tr>
									<!-- hamfinger23 -->
									<tr>
										<td style="text-align: center;">
											<button title="hamfinger23" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);"></button>
										</td>
										<td>Two fingers are raised together (index and middle finger by default).</td>
									</tr>
									<!-- hamfinger23spread -->
									<tr>
										<td style="text-align: center;">
											<button title="hamfinger23spread" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);"></button>
										</td>
										<td>Two fingers are raised spread (index and middle finger by default).</td>
									</tr>
									<!-- 2. THUMB DIACRITICS -->
									<tr>
										<td colspan="2" style="padding-bottom: 10px; padding-top: 20px; text-align: center;">
											<strong>Thumb Positions</strong>
										</td>
									</tr>
									<!-- default -->
									<tr>
										<td style="text-align: center; padding-bottom: 5px;">
											<button class="btn btn-light ham" disabled> </button>
										</td>
										<td><strong>Thumb in the plane, nonspread -- default</strong></td>
									</tr>
									<!-- hamthumboutmod -->
									<tr>
										<td style="text-align: center;">
											<button title="hamthumboutmod" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);"></button>
										</td>
										<td>Thumb in the plane, spread</td>
									</tr>
									<!-- hamthumbacrossmod -->
									<tr>
										<td style="text-align: center;">
											<button title="hamthumbacrossmod" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);"></button>
										</td>
										<td>Thumb in the plane, across</td>
									</tr>
									<!-- hamthumbopenmod -->
									<tr>
										<td style="text-align: center;">
											<button title="hamthumbopen" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);"></button>
										</td>
										<td>Thumb orthogonal to the plane</td>
									</tr>
									<!-- 3. BENDING -->
									<tr>
										<td colspan="2" style="padding-bottom: 10px; padding-top: 20px; text-align: center;">
											<strong>Bending of Concerned Fingers</strong>
										</td>
									</tr>
									<!-- default -->
									<tr>
										<td style="text-align: center; padding-bottom: 5px;">
											<button class="btn btn-light ham" disabled> </button>
										</td>
										<td><strong>No bending -- default</strong></td>
									</tr>
									<!-- hamfingerstraightmod -->
									<tr>
										<td style="text-align: center;">
											<button title="hamfingerstraightmod" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);">&nbsp;</button>
										</td>
										<td>Bent (straight)</td>
									</tr>
									<!-- hamfingerbendmod -->
									<tr>
										<td style="text-align: center;">
											<button title="hamfingerbendmod" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);">&nbsp;</button>
										</td>
										<td>Bent (rounded)</td>
									</tr>
									<!-- hamfingerhookmod -->
									<tr>
										<td style="text-align: center;">
											<button title="hamfingerhookmod" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);">&nbsp;</button>
										</td>
										<td>Bent (hooked)</td>
									</tr>
									<!-- hamdoublebentmod -->
									<tr>
										<td style="text-align: center;">
											<button title="hamdoublebentmod" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);">&nbsp;</button>
										</td>
										<td>Double bent (distal joint not bent)</td>
									</tr>
									<!-- hamdoublehookedmod -->
									<tr>
										<td style="text-align: center;">
											<button title="hamdoublehookedmod" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);">&nbsp;</button>
										</td>
										<td>Double hooked (distal joint bent)</td>
									</tr>

								</tbody>
							</table>
						</div>

					</div>

					<!-- Thumb-finger Combinations -->
					<div class="tab-pane fade" id="v-pills-thumbfinger" role="tabpanel" aria-labelledby="v-pills-thumbfinger-tab">

						<div class="alert alert-info" role="alert">
							Basic symbols are combined with diacritic signs for the width of opening and bending (of concerned fingers). <a href="https://www.sign-lang.uni-hamburg.de/projekte/hamnosys/hns4.0/hns4.0eng/405thumbcombinations.html" target="#"><i class="fas fa-info-circle"></i></a>
						</div>

						<div style="position: relative;height: 300px;overflow: auto;">
							<table style="undefined;table-layout: fixed; width: 100%; text-align: left;">
								<colgroup>
									<col style="width: 72px">
									<col style="width: 300px">
								</colgroup>
								<tbody>				
									<!-- 1. THUMB-FINGER COMBINATIONS -->
									<tr>
										<td colspan="2" style="padding-bottom: 10px; text-align: center;">
											<strong>Basic Symbols</strong>
										</td>
									</tr>
									<!-- hampinch12 -->
									<tr>
										<td style="text-align: center;">
											<button title="hampinch12" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);"></button>
										</td>
										<td>Hand is closed with a finger touching the thumb (index finger bent by default)</td>
									</tr>
									<!-- hampinchall -->
									<tr>
										<td style="text-align: center;">
											<button title="hampinch12" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);"></button>
										</td>
										<td>All fingers are touching the thumb (fingers bent by default)</td>
									</tr>
									<!-- hampinch12open -->
									<tr>
										<td style="text-align: center;">
											<button title="hampinch12open" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);"></button>
										</td>
										<td>Hand is open with a finger touching the thumb (index finger bent by default)</td>
									</tr>
									<!-- hamcee12 -->
									<tr>
										<td style="text-align: center;">
											<button title="hamcee12" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);"></button>
										</td>
										<td>Hand is closed with a finger and the thumb shaped like a 'C' (index finger bent by default)</td>
									</tr>
									<!-- hamceeall -->
									<tr>
										<td style="text-align: center;">
											<button title="hamceeall" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);"></button>
										</td>
										<td>All fingers and thumb shaped like a 'C'</td>
									</tr>
									<!-- hamceeopen -->
									<tr>
										<td style="text-align: center;">
											<button title="hamceeopen" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);"></button>
										</td>
										<td>Open hand with a finger and the thumb shaped like a 'C'</td>
									</tr>

									<!-- 2. THUMB DIACRITICS -->
									<tr>
										<td colspan="2" style="padding-bottom: 10px; padding-top: 20px; text-align: center;">
											<strong>Width of Opening (added to cee-shapes only)</strong>
										</td>
									</tr>
									<!-- default -->
									<tr>
										<td style="text-align: center; padding-bottom: 5px;">
											<button class="btn btn-light ham" disabled> </button>
										</td>
										<td><strong>Normal width -- default</strong></td>
									</tr>
									<!-- hamthumbacrossmod -->
									<tr>
										<td style="text-align: center;">
											<button title="hamthumbacrossmod" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);"></button>
										</td>
										<td>Narrow opening</td>
									</tr>
									<!-- hamthumbopenmod -->
									<tr>
										<td style="text-align: center;">
											<button title="hamthumbopen" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);"></button>
										</td>
										<td>Wide opening</td>
									</tr>
									
									<!-- 3. BENDING OF CONCERNED FINGERS -->
									<tr>
										<td colspan="2" style="padding-bottom: 10px; padding-top: 20px; text-align: center;">
											<strong>Bending of Concerned Fingers</strong>
										</td>
									</tr>
									<!-- default -->
									<tr>
										<td style="text-align: center; padding-bottom: 5px;">
											
										</td>
										<td><strong>No bending -- default</strong></td>
									</tr>
									<!-- hamfingerstraightmod -->
									<tr>
										<td style="text-align: center;">
											<button title="hamfingerstraightmod" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);">&nbsp;</button>
										</td>
										<td>Bent (straight)</td>
									</tr>
									<!-- hamfingerbendmod -->
									<tr>
										<td style="text-align: center;">
											<button title="hamfingerbendmod" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);">&nbsp;</button>
										</td>
										<td>Bent (rounded)</td>
									</tr>
									<!-- hamfingerhookmod -->
									<tr>
										<td style="text-align: center;">
											<button title="hamfingerhookmod" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);">&nbsp;</button>
										</td>
										<td>Bent (hooked)</td>
									</tr>
									<!-- hamdoublebentmod -->
									<tr>
										<td style="text-align: center;">
											<button title="hamdoublebentmod" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);">&nbsp;</button>
										</td>
										<td>Double bent (distal joint not bent)</td>
									</tr>
									<!-- hamdoublehookedmod -->
									<tr>
										<td style="text-align: center;">
											<button title="hamdoublehookedmod" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);">&nbsp;</button>
										</td>
										<td>Double hooked (distal joint bent)</td>
									</tr>
									

								</tbody>
							</table>
						</div>

					</div>

					<!-- Finger specifications -->
					<div class="tab-pane fade" id="v-pills-fingerspecs" role="tabpanel" aria-labelledby="v-pills-fingerspecs-tab">
						
						<div class="alert alert-info" role="alert">
								Finger specifications replace default finger(s) or specify derivations in basic forms. <a href="https://www.sign-lang.uni-hamburg.de/projekte/hamnosys/hns4.0/hns4.0eng/405thumbcombinations.html" target="#"><i class="fas fa-info-circle"></i></a>
						</div>

						<div style="position: relative;height: 300px;overflow: auto;">

							<table style="undefined;table-layout: fixed; width: 100%; text-align: left;">
								<colgroup>
									<col style="width: 72px">
									<col style="width: 300px">
								</colgroup>
								<tbody>				
									<!-- 1. FINGER DIGITS -->
									<tr>
										<td colspan="2" style="padding-bottom: 10px; text-align: center;">
											<strong>Finger Digits</strong>
										</td>
									</tr>
									<!-- hamindexfinger -->
									<tr>
										<td style="text-align: center;">
											<button title="hamindexfinger" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);"></button>
										</td>
										<td>Index finger</td>
									</tr>
									<!-- hammiddlefinger -->
									<tr>
										<td style="text-align: center;">
											<button title="hammiddlefinger" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);"></button>
										</td>
										<td>Middle finger</td>
									</tr>
									<!-- hamringfinger -->
									<tr>
										<td style="text-align: center;">
											<button title="hamringfinger" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);"></button>
										</td>
										<td>Ring finger</td>
									</tr>
									<!-- hampinky -->
									<tr>
										<td style="text-align: center;">
											<button title="hampinky" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);"></button>
										</td>
										<td>Pinky</td>
									</tr>
									
									<!-- 2. BENDING OF SELECTED FINGERS-->
									<tr>
										<td colspan="2" style="padding-bottom: 10px; padding-top: 20px; text-align: center;">
											<strong>Bending of Selected Fingers</strong>
										</td>
									</tr>
									<!-- default -->
									<tr>
										<td style="text-align: center; padding-bottom: 5px;">
											
										</td>
										<td><strong>No bending -- default</strong></td>
									</tr>
									<!-- hamfingerstraightmod -->
									<tr>
										<td style="text-align: center;">
											<button title="hamfingerstraightmod" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);">&nbsp;</button>
										</td>
										<td>Bent (straight)</td>
									</tr>
									<!-- hamfingerbendmod -->
									<tr>
										<td style="text-align: center;">
											<button title="hamfingerbendmod" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);">&nbsp;</button>
										</td>
										<td>Bent (rounded)</td>
									</tr>
									<!-- hamfingerhookmod -->
									<tr>
										<td style="text-align: center;">
											<button title="hamfingerhookmod" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);">&nbsp;</button>
										</td>
										<td>Bent (hooked)</td>
									</tr>
									<!-- hamdoublebentmod -->
									<tr>
										<td style="text-align: center;">
											<button title="hamdoublebentmod" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);">&nbsp;</button>
										</td>
										<td>Double bent (distal joint not bent)</td>
									</tr>
									<!-- hamdoublehookedmod -->
									<tr>
										<td style="text-align: center;">
											<button title="hamdoublehookedmod" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);">&nbsp;</button>
										</td>
										<td>Double hooked (distal joint bent)</td>
									</tr>
									

								</tbody>
							</table>
						</div>

					</div>

					<!-- Crossing Fingers -->
					<div class="tab-pane fade" id="v-pills-crossing" role="tabpanel" aria-labelledby="v-pills-crossing-tab">

						<div class="alert alert-info" role="alert">
							Crossing fingers are notated with finger digits (lower first) and the finger part where the upper finger meets the lower one. <a href="https://www.sign-lang.uni-hamburg.de/projekte/hamnosys/hns4.0/hns4.0eng/07fingerparts.html" target="#"><i class="fas fa-info-circle"></i></a>
						</div>
						
						<div style="position: relative;height: 300px;overflow: auto;">
							<table style="undefined;table-layout: fixed; width: 100%; text-align: left;">
								<colgroup>
									<col style="width: 72px">
									<col style="width: 300px">
								</colgroup>
								<tbody>				
									<!-- 1. FINGER DIGITS -->
									<tr>
										<td colspan="2" style="padding-bottom: 10px; text-align: center;">
											<strong>Finger Digits</strong>
										</td>
									</tr>
									<!-- hamindexfinger -->
									<tr>
										<td style="text-align: center;">
											<button title="hamindexfinger" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);"></button>
										</td>
										<td>Index finger</td>
									</tr>
									<!-- hammiddlefinger -->
									<tr>
										<td style="text-align: center;">
											<button title="hammiddlefinger" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);"></button>
										</td>
										<td>Middle finger</td>
									</tr>
									<!-- hamringfinger -->
									<tr>
										<td style="text-align: center;">
											<button title="hamringfinger" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);"></button>
										</td>
										<td>Ring finger</td>
									</tr>
									<!-- hampinky -->
									<tr>
										<td style="text-align: center;">
											<button title="hampinky" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);"></button>
										</td>
										<td>Pinky</td>
									</tr>
									
									<!-- 2. CROSSING-->
									<tr>
										<td colspan="2" style="padding-bottom: 10px; padding-top: 20px; text-align: center;">
											<strong>Point of Contact</strong>
										</td>
									</tr>
									<!-- hamfingernail -->
									<tr>
										<td style="text-align: center;">
											<button title="hamfingerstraightmod" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);">&nbsp;</button>
										</td>
										<td>Finger nail of the lower hand</td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>

					<div class="tab-pane fade" id="v-pills-hiding" role="tabpanel" aria-labelledby="v-pills-hiding-tab">

						<div class="alert alert-info" role="alert">
							Hidden thumb is notated with the finger digit above the thumb, the hambetween sign "\", and the finger digit below the thumb. <a href="https://www.sign-lang.uni-hamburg.de/projekte/hamnosys/hns4.0/hns4.0eng/07fingerparts.html" target="#"><i class="fas fa-info-circle"></i></a>
						</div>

						<div style="position: relative;height: 300px;overflow: auto;">
							<table style="undefined;table-layout: fixed; width: 100%; text-align: left;">
								<colgroup>
									<col style="width: 72px">
									<col style="width: 300px">
								</colgroup>
								<tbody Page>				
									<!-- 1. FINGER DIGITS -->
									<tr>
										<td colspan="2" style="padding-bottom: 10px; text-align: center;">
											<strong>Finger Digits</strong>
										</td>
									</tr>
									<!-- hamindexfinger -->
									<tr>
										<td style="text-align: center;">
											<button title="hamindexfinger" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);"></button>
										</td>
										<td>Index finger</td>
									</tr>
									<!-- hammiddlefinger -->
									<tr>
										<td style="text-align: center;">
											<button title="hammiddlefinger" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);"></button>
										</td>
										<td>Middle finger</td>
									</tr>
									<!-- hamringfinger -->
									<tr>
										<td style="text-align: center;">
											<button title="hamringfinger" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);"></button>
										</td>
										<td>Ring finger</td>
									</tr>
									<!-- hampinky -->
									<tr>
										<td style="text-align: center;">
											<button title="hampinky" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);"></button>
										</td>
										<td>Pinky</td>
									</tr>
									
									<!-- 2. CROSSING-->
									<tr>
										<td colspan="2" style="padding-bottom: 10px; padding-top: 20px; text-align: center;">
											<strong>Between</strong>
										</td>
									</tr>
									<!-- hambetween -->
									<tr>
										<td style="text-align: center;">
											<button title="hambetween" class="btn btn-light ham" value="" data-toggle="tooltip" data-placement="right" onclick="input(this);">&nbsp;</button>
										</td>
										<td>In between operator</td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>

			<nav class="nav nav-pills flex-column flex-sm-row justify-content-center bg-dark" style="margin: 0px; padding: 5px; font-size: 0.7rem; font-color: white !important;">

				<!-- Nav Items -->

					<!-- Basic Form -->
					<a class="flex-sm-fill text-sm-center nav-item nav-link active" id="v-pills-basicform-tab" data-toggle="pill" href="#v-pills-basicform" role="tab" aria-controls="v-pills-basicform" aria-selected="true">Basic Forms</a>

					<!-- Thumb-finger Combinations -->
					<a class="flex-sm-fill text-sm-center nav-item nav-link" id="v-pills-thumbfinger-tab" data-toggle="pill" href="#v-pills-thumbfinger" role="tab" aria-controls="v-pills-thumbfinger" aria-selected="false">Connected Forms</a>
					
					<!-- Finger specifications -->
					<a class="flex-sm-fill text-sm-center nav-item nav-link" id="v-pills-fingerspecs-tab" data-toggle="pill" href="#v-pills-fingerspecs" role="tab" aria-controls="v-pills-fingerspecs" aria-selected="false">Finger Specifications</a>
					
					<!-- Crossing -->
					<a class="flex-sm-fill text-sm-center nav-item nav-link" id="v-pills-crossing-tab" data-toggle="pill" href="#v-pills-crossing" role="tab" aria-controls="v-pills-crossing" aria-selected="false">Crossed Fingers</a>

					<!-- Hidden Thumb -->
					<a class="flex-sm-fill text-sm-center nav-item nav-link" id="v-pills-hiding-tab" data-toggle="pill" href="#v-pills-hiding" role="tab" aria-controls="v-pills-hiding" aria-selected="false">Hidden Thumb</a>
				</nav>

			</div>



			<!-- Animation Box -->
			<br><hr>
			<kbd>Validation via animation</kbd><br><br>

			<p>You can validate your transcription via clicking the SyntheSign button below. This will open a new tab with an avatar that will sign your transcription.</p>

			<a class="btn btn-sm btn-info" href="#" role="button" style="margin: 5px;"><i class="fas fa-hand-sparkles"></i> SyntheSign</a>



{% endblock %}