{% extends 'inventory/base.html' %}

{% block navbar %}
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'handshape_list' %}">Handshapes</a>
				</li>
				<li class="nav-item">
					<a class="nav-item nav-link" href="#" class="disabled">Lexicon (developing)</a>
				</li>
			</ul>
{% endblock %}

{% block content %}
			<!-- Jumbotron -->
			<div class="jumbotron bg-transparent">
				<h1 class="display-5"><kbd><i class="fas fa-i-cursor"></i>&nbsp;SignTyper for FSL</kbd></h1>
				<p class="lead">
					A web application for synthesizing signs in the <strong>Filipino Sign Language (FSL) </strong>through JASigning avatars.
				</p>
				<div class="alert alert-warning" role="alert">
					<h4 class="alert-heading">Updates</h4>
					<ul>
						<li>Recognizable handshapes in Filipino Sign Language (FSL) are now in the <a href="/handshapes">database</a>.</li>
						<li>Entries for FSL corpora will be uploaded <a href="{% url 'sign_list' %}">here</a>.</li>
						<li><a href="{% url 'translator' %}">FSL Translator</a> is now working.</li>
					</ul>
				</div>
				<hr class="my-4">
				<p class="lead">
					<a class="btn btn-sm btn-dark" href="https://github.com/jennieablog/signtyper" target="#" role="button" style="margin: 5px;"><i class="fab fa-github"></i> Follow on GitHub</a>
				</p>
			</div>
{% endblock %}