{% extends 'inventory/base.html' %}


{% block content %}

			<div class="row" style="padding: 20px;">
				<div class="col col-lg-4">
					<div class="card text-center">
						<h6 class="card-header">JASigning Avatar</h6>
						<!-- Animation Box -->
						<div style="height: 600px;">
							<div class="card-body" style="padding:0px !important;">
								<div class="CWASAAvatar av0" align="center" style="background-color: aliceblue;">
								</div>
							</div>
							<!-- Description -->
							<div class="card-footer bg-transparent">
								<!-- Buttons -->
								<div style="display: flex; align-items: center; justify-content: center; padding: 10px;">
										Avatar:
										<button type="button" id="animate" class="btn btn-sm btn-info bttnPlaySiGMLText av0" style="flex: 1;" hidden="true"><i class="fas fa-hand-sparkles"></i> Play</button>&emsp;
										<div class="CWASAAvMenu av0 text-capitalize" style="flex:2;"></div>
									</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col col-lg" style="padding:10px;">
					<h4>FSL Sign Inventory</h4>
					<div class="border" style="height:500px;overflow-y: scroll;">
						<table class="table table-striped">
						<thead style="font-size: 0.6rem;">
							<tr>
								<th scope="col">PLAY</th>
								<th scope="col">Name</th>
								<th scope="col">Description</th>
								{% if user.is_authenticated %}
								<th scope="col">Options</th>
								{% endif %}
								<th scope="col">Two-handed</th>
								<th scope="col">Right</th>
								<th scope="col">Location</th>
								<th scope="col">Left</th>
								<th scope="col">Location</th>
							</tr>
						</thead>
						<tbody>
							{% for sign in signs %}
							<tr>
								<td><button class="btn btn-sm btn-success" style="font-size: 0.5rem;" onclick="writesigml('{{ sign.sigmlfy }}');"><i class="fas fa-play"></i></button></td>
								<td>{{ sign.name }}</td>
								<td>{{ sign.description }}</td>
								{% if user.is_authenticated %}
								<td>
								
								<a href="{% url 'sign_edit' pk=sign.pk %}" class="text-primary"><i class="fas fa-edit"></i> Edit
								</a>
								{% endif %}
								<td>{{ sign.twohanded }}</td>
								<td>{{ sign.hs.name }} handshape</td>
								<td>{% if sign.loc == ' ' %} neutral space {% else %} {{ sign.loc }} {% endif %} ({{ sign.side }})</td>
								<td>
									{% if sign.twohanded %}
									{{ sign.lhs.name }} handshape, on {% if sign.lloc == ' ' %} neutral space {% else %} {{ sign.lloc }} {% endif %}
									{% endif %}
								</td>
								<td>{% if sign.lloc == ' ' %} neutral space {% else %} {{ sign.lloc }} {% endif %} ({{ sign.lside }})</td>
							</tr>
							{% endfor %}
						</tbody>
						</table>
					</div>
					{% if user.is_authenticated %}
					<hr>
					<div style="text-align: center;">
						<a href="#" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> Add new sign.</a>
					</div>
					{% endif %}
				</div>
			</div>
			<textarea id="sigml" rows="10" class="txtaSiGMLText av0" hidden="true">{{ sigml }}</textarea>

{% endblock %}