<select name="{{name}}" id="{{name}}" class="custom-select" onchange="reload();">
	<option value="neutralspace" selected>Neutral space</option>
	<option value="head" {% if bodypart == 'head' %} selected="true" {% endif %}>Head</option>
	<option value="headtop" {% if bodypart == 'headtop' %} selected="true" {% endif %}>Top of the head</option>
	<option value="forehead" {% if bodypart == 'forehead' %} selected="true" {% endif %}>Forehead</option>
	<option value="eyebrows" {% if bodypart == 'eyebrows' %} selected="true" {% endif %}>Eyebrows</option>
	<option value="uppereyelid" {% if bodypart == 'uppereyelid' %} selected="true" {% endif %}>Eyes</option>
	<option value="nose" {% if bodypart == 'nose' %} selected="true" {% endif %}>Nose</option>
	<option value="ear" {% if bodypart == 'ear' %} selected="true" {% endif %}>Ears</option>
	<option value="cheek" {% if bodypart == 'cheek' %} selected="true" {% endif %}>Cheek</option>
	<option value="lips" {% if bodypart == 'lips' %} selected="true" {% endif %}>Lips</option>
	<option value="chin" {% if bodypart == 'chin' %} selected="true" {% endif %}>Chin</option>
	<option value="neck" {% if bodypart == 'neck' %} selected="true" {% endif %}>Neck</option>
	<option value="shoulders" {% if bodypart == 'shoulders' %} selected="true" {% endif %}>Shoulders</option>
	<option value="chest" {% if bodypart == 'chest' %} selected="true" {% endif %}>Chest</option>
	<option value="stomach" {% if bodypart == 'stomach' %} selected="true" {% endif %}>Stomach</option>
	<option value="belowstomach" {% if bodypart == 'belowstomach' %} selected="true" {% endif %}>Crotch</option>
</select>