{% extends 'inventory/avatargui.html' %}


{% block info %}

<form method="POST" id="signeditor" style="font-size: 0.7rem;">
{% csrf_token %}

	<div class="alert form-row" style="justify-content: flex-start; height:60px;">
		<!-- $name -->
		<div class="col-5">
			<input type="text" name="name" class="form-control" style="font-size: 0.7rem;" placeholder="Name" value="{{ sign.name }}">
		</div>
		<!-- $type -->
		<div class="col-3" style="padding-right: 20px;">
			<select id="type" name="type" class="custom-select" style="height: 2rem;" onchange="reload();">
				<option value="onehanded">One-handed</option>
				<option value="twohanded">Two-handed</option>
			</select>
		</div>
		<!-- $nondom -->
		<div class="col" style="padding-right: 20px;">
			<div class="form-check" style="padding-top: 0.5rem;">
				<input class="form-check-input" type="checkbox" id="nondom" name="nondom">
				<label class="form-check-label" for="nondom"> Left-handed</label>
			</div>
		</div>
	</div>

	<div class="alert form-row" style="justify-content: flex-start; height:60px;">
		<!-- $description -->
		<div class="col-10">
			<input type="text" name="description" class="form-control" placeholder="Description" style="font-size: 0.7rem;" value="{{ sign.description }}">
		</div>
		<!-- save & delete buttons -->
		<div class="col-2">
			<button type="submit" class="btn btn-success btn-sm" value="save">Save</button>
		</div>
	</div>

		
	<!-- sign definition -->
	<div class="container-fluid" style="width: 100%;overflow-y: scroll; overflow-x: hidden;">

		<!-- nav tavs -->
		<nav>
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
				<a class="nav-item nav-link active" id="nav-initconfig-tab" data-toggle="tab" href="#nav-initconfig" role="tab" aria-controls="nav-initconfig" aria-selected="true">Initial Configuration</a>
				<a class="nav-item nav-link" id="nav-initloc-tab" data-toggle="tab" href="#nav-initloc" role="tab" aria-controls="nav-initloc">Initial Location</a>
				<a class="nav-item nav-link" id="nav-motion-tab" data-toggle="tab" href="#nav-motion" role="tab" aria-controls="nav-motion" aria-selected="false">Motion Sequence</a>
			</div>
		</nav>

		<!-- nav content -->
		<div class="tab-content" id="nav-tabContent" style="height:500px; padding-top:20px; overflow-y: scroll; background-color: ghostwhite;">

			<!-- initial configuration -->
			<div class="tab-pane fade show active" id="nav-initconfig" role="tabpanel" aria-labelledby="nav-handconfig-tab">

				<!-- right hand configuration -->
				<div class="row mb-2">
					<strong>Right Hand Configuration</strong>
				</div>
				<!-- right hand configuration attributes -->
				<div class="row">

					<!-- handshapedom -->
					<div class="form-group" style="padding-right: 20px;">
						<label for="handshapedom">Handshape</label>
						<select name="handshapedom" id="handshapedom" class="custom-select" onchange="reload();">
							{% for hs in handshapes %}
							<option value="{{ hs.pk }}" data="{{ hs.sigmlStr | safe }}" {% if sign.rightHandshape.pk == hs.pk %} selected="true" {% endif %}>{{ hs.name }}: {{ hs.description}}</option>
							{% endfor %}
						</select>
					</div>

					<!-- External Finger Direction -->
					<div class="form-group" style="padding-right: 20px;">
						<label for="extfidir">Extended Finger Direction</label>
						{% include 'inventory/sign_extfidir.html' with extfidir=sign.rightFingerDirection name='extfidir' %}
					</div>
					<!-- Palm Orientation -->
					<div class="form-group">
						<label for="palmor">Palm Orientation</label>
						{% include 'inventory/sign_palmor.html' with palmor=sign.rightPalmOrientation name='palmor' %}
					</div>
				</div>
			</div>

			<div class="tab-pane fade" id="nav-initloc" role="tabpanel" aria-labelledby="nav-initloc-tab">
				Test 2
			</div>

			<div class="tab-pane fade" id="nav-motion" role="tabpanel" aria-labelledby="nav-motion-tab">
				Test 3
			</div>
		</div>

	</div>

</form>

{% endblock %}