{% extends 'inventory/avatargui.html' %}

{% block info %}

<div class="card">
	<h6 class="card-header">Signs</h6>
	
	<div class="card-body" style="padding: 0px;height:500px;overflow-y: scroll;">
		<table class="table table-striped">
			<thead style="font-size: 0.6rem;">
				<tr>
					<th scope="col">PLAY</th>
					<th scope="col">Name</th>
					<th scope="col">Description</th>
					{% if user.is_authenticated %}
					<th scope="col">Options</th>
					{% endif %}
					<th scope="col">Two-handed</th>
					<th scope="col">Right</th>
					<th scope="col">Location</th>
					<th scope="col">Left</th>
					<th scope="col">Location</th>
				</tr>
			</thead>
			<tbody>
				{% for sign in signs %}
				<tr>
					<td><button class="btn btn-sm btn-success" style="font-size: 0.5rem;" onclick="writesigml('{{ sign.sigml }}');"><i class="fas fa-play"></i></button></td>
					<td>{{ sign.name }}</td>
					<td>{{ sign.description }}</td>
					{% if user.is_authenticated %}
					<td>
					
					<a href="{% url 'sign_edit' pk=sign.pk %}" class="text-primary"><i class="fas fa-edit"></i> Edit
					</a>
					{% endif %}
					<td>{{ sign.twoHanded }}</td>
					<td>{{ sign.hs.name }} handshape</td>
					<td>{% if sign.loc == ' ' %} neutral space {% else %} {{ sign.loc }} {% endif %} ({{ sign.side }})</td>
					<td>
						{% if sign.twohanded %}
						{{ sign.lhs.name }} handshape, on {% if sign.lloc == ' ' %} neutral space {% else %} {{ sign.lloc }} {% endif %}
						{% else %}
						--
						{% endif %}
					</td>
					<td>
						{% if sign.twohanded %}
						{% if sign.lloc == ' ' %} neutral space {% else %} {{ sign.lloc }} {% endif %} ({{ sign.lside }})
						{% else %}
						--
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="card-footer" style="height:60px;">
		{% if user.is_authenticated %}<a href="{% url 'sign_new' %}" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> Add new sign.</a>{% endif %}
	</div>
</div>

{% endblock %}