{% extends 'inventory/base.html' %}

{% block navbar %}
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'index' %}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'handshape_list' %}">Handshapes</a>
				</li>
				<li class="nav-item">
					<a class="nav-item nav-link" href="#" class="disabled">Lexicon (developing)</a>
				</li>
			</ul>
{% endblock %}

{% block content %}

			<p class="font-italic" style="text-align: right;">
				Generate animation from HamNoSys transcription.
			</p><hr>

			<div class="detail">
				<div class="detail-1">
					<div class="card text-center">
						<h5 class="card-header">SyntheSign</h5>
						<!-- Animation Box -->
						<div class="card-body" style="padding:0px !important;">
							<div class="CWASAAvatar av0" align="center" style="background-color: aliceblue;">
							</div>
						</div>
						<!-- Description -->
						<div class="card-footer bg-transparent">
							<!-- Buttons -->
							<div style="display: flex; align-items: center; justify-content: center; padding: 10px;">
									<button type="button" class="btn btn-sm btn-info bttnPlaySiGMLText av0" style="flex: 1;"><i class="fas fa-hand-sparkles"></i> Animate</button>&emsp;
									<div class="CWASAAvMenu av0 text-capitalize" style="flex:2;"></div>
								</div>
						</div>
					</div>
				</div>
				<div class="detail-2">
							<label for="hamnosys"><kbd>HamNoSys</kbd></label>
							<textarea id="hamnosys" class="ham" rows="2">{{ hamnosys }}</textarea>
							<label for="sigml"><kbd>SiGML</kbd></label>
							<textarea id="sigml" rows="10" class="txtaSiGMLText av0">{{ sigml }}</textarea>
							<hr>

				</div>

			</div>

{% endblock %}