{% extends 'inventory/avatargui.html' %}
{% load static %}

{% block info %}

					<h4>FSL Translator</h4><hr>
					<h5>Sign Search</h5>
					<p style="font-size: 0.7rem;">Search for signs that you could use for your sentence on the fly. You can preview a sign before adding it to your sentence.</p>
					<div class="row">
						<div class="col col-lg ">
							<form class="form-inline">
								<i id="search-icon" class="fas fa-search" aria-hidden="true"></i>
								<input id="user-input" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search for FSL sign in the database." aria-label="Search">
							</form>
						</div>
					</div>
					<div class="row" style="padding-left:50px;font-size: 0.7rem;">
						<div class="col-lg-4">
							Search results for your query:
						</div>
						<div id="replaceable-content" class="col-lg" style="height:100px;overflow-y:scroll;">
							{% include 'inventory/translator-partial.html' %}
						</div>
					</div><hr>
					<h5>
						FSL Sentence
					</h5>
					<p style="font-size: 0.7rem;">Click the play button to animate whole sentence or click on each sign to play animation individually.</p>
					<div class="border mb-4" id="sentence" style="padding:20px;height:100px;overflow-y:scroll;">
					</div>
					<button type="button" class="btn btn-sm btn-success" onclick="generateSentence();"><i class="fas fa-play"></i> Play sentence</button>
					<button type="button" class="btn btn-sm btn-secondary" onclick="backspace();"><i class="fas fa-backspace"></i> Backspace</button>
					<button type="button" class="btn btn-sm btn-secondary" onclick="clearSentence();"><i class="fas fa-trash"></i> Clear</button>
			
			<script src="{% static 'js/translate.js' %}" type="text/javascript"></script>

{% endblock %}