{% extends 'inventory/avatargui.html' %}
{% load static %}

{% block info %}

<div class="card">

	<h6 class="card-header" style="height:50px;">
		FSL Translator
	</h6>

	<div class="card-body" id="sentence" style="height:150px;"></div>

	<div class="card-body text-right" style="height:80px;">
		
		<div class="row justify-content-end">
			
			<button type="button" class="btn btn-sm btn-success" onclick="generateSentence();"><i class="fas fa-play"></i> Load Animation</button>&nbsp;
			<button type="button" class="btn btn-sm btn-danger" onclick="backspace();"><i class="fas fa-backspace"></i> Delete</button>&nbsp;
			<button type="button" class="btn btn-sm btn-secondary" onclick="clearSentence();">Reset</button>&nbsp;

		</div>
			
		</button>
	</div>
	
	<div class="card-footer" style="height:350px;">
		<form style="margin-bottom: 0px;">
		<input id="user-input" class="form-control form-control-sm w-100" type="text" placeholder="Search for an FSL sign in the database to include in your sentence." aria-label="Search">
		</form><br>
		<h6>Search results:</h6>
		<div id="replaceable-content" style="padding-top:10px;padding-left:5px;font-size: 0.7rem;height:230px;overflow-y:scroll;">
				{% include 'inventory/translator-partial.html' %}
		</div>
	</div>
</div>
<script src="{% static 'js/translate.js' %}" type="text/javascript"></script>
<video id="animation_video" autoplay controls hidden></video>

{% endblock %}