{% if signs and not spellout %}
{% for sign in signs %}
<div class="row">
	<div class="col-2">
		<strong>{{ sign.name }}</strong>
	</div>
	<div class="col-6">
		{{ sign.description}}	
	</div>
	<div class=col>
		<div class="row">
			<button class="btn btn-sm btn-info mb-1" value="{{ sign.name }}" data="{{ sign.sigml }}" style="padding:3px;font-size:0.5rem;" onclick="writesigml(this.getAttribute('data'))"><i class="fas fa-play"></i> <strong>PREVIEW</strong></button>&emsp;
			<button class="btn btn-sm btn-success mb-1" value="{{ sign.name }}" data="{{ sign.sigml }}" style="padding:3px;font-size:0.5rem;" onclick="includeSign(this);"><i class="fas fa-plus"></i> <strong>USE THIS SIGN</strong></button>
		</div>
	</div>

</div>
<!-- <strong>{{ sign.name }}</strong> - {{ sign.description}}&emsp;
<button class="btn btn-sm btn-info mb-1" value="{{ sign.name }}" data="{{ sign.sigml }}" style="padding:3px;font-size:0.5rem;" onclick="writesigml(this.getAttribute('data'))"><i class="fas fa-play"></i> <strong>PREVIEW</strong></button>
<button class="btn btn-sm btn-success mb-1" value="{{ sign.name }}" data="{{ sign.sigml }}" style="padding:3px;font-size:0.5rem;" onclick="includeSign(this);"><i class="fas fa-plus"></i> <strong>USE THIS SIGN</strong></button><br> -->
{% endfor %}
{% else %}
  <p>No signs were found with that name. {% if spellout %} <button class="btn btn-sm btn-success mb-1" style="padding:3px;font-size:0.5rem;" value="{{ query }}" data="{{ sigml }}" onclick="spellOut(this)"><strong>SPELL OUT</strong></button>{% else %}<br>Please remove non-alphanumeric symbols to allow fingerspelling.{% endif %}</p>
{% endif %}